.grid {
    display: grid;
    height: 100vh;
}
header{
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: rgb(228, 187, 247);
    padding-left: 5px;
    height: 10vh;
}
nav{
    grid-column: 1/2;
    grid-row: 2/3;   
    padding: 10px;
    font-size: 20px;
    background-color: rgb(241, 227, 253);
    height: 80,5vh;
}
article{
    grid-column: 2/3;
    grid-row: 2/3;  
    background-color: rgb(217, 222, 250);
    padding-left: 5px;
    height: 83vh;
}
aside{
    grid-column: 3/4;
    grid-row: 2/3;   
    width: 100px;
    padding: 5px;
    background-color: rgb(229, 243, 255);
    height: 81,5vh;
    overflow: scroll;
    overflow-x: auto;
}
footer{
    grid-column: 1/4;
    grid-row: 3/4; 
    padding-left: 5px;
    padding-top: 10px;
    font-size: 25px;
    background-color: rgb(219, 247, 242);
    height: 10vh;
}
body{
    overflow-y: hidden;
    margin: 1px;
}